#nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

#title {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.nav-bar-link {
    text-decoration: none;
    color: black;
}