#nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

#title {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.nav-bar-link {
    font-size: 0.95rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
}

.nav-bar-link:hover {
    transition: 0.2s;
    background-color: lightgray;
}