<div id="nav-bar">
    <span id="title">SlideLizard Presentations</span>
    <NavLink class="nav-bar-link" href="/">
        <button>Home</button>
    </NavLink>
    <NavLink class="nav-bar-link" href="/createpresentation">
        <button>Create Presentation</button>
    </NavLink>
    <NavLink class="nav-bar-link" href="/statistics">
        <button>Statistics</button>
    </NavLink>
</div>

@code {

}