<div id="nav-bar">
    <span id="title">SlideLizard Presentations</span>
    <NavLink href="/">
        <button class="nav-bar-link">Home</button>
    </NavLink>
    <NavLink href="/createpresentation">
        <button class="nav-bar-link">Create Presentation</button>
    </NavLink>
    <NavLink href="/statistics">
        <button class="nav-bar-link">Statistics</button>
    </NavLink>
</div>

@code {
    
}